@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 20px 100px 0px 200px;
}

h2 {
  border-bottom: 2px solid #EEE;
  text-transform: uppercase;
}

.intro {
  margin-bottom: 60px;
}

.intro p {
  color: #888;
  font-weight: 300;
}

.code {
  color: #EEE;
  background: #444;
  font-family: monospace;
  padding: 8px;
  border-radius: 5px;
}

.code:hover {
  color: #FFF;
  background: #111;
  cursor: pointer;
}

.code-snippet {
  font-family: monospace;
  background: #444;
  color: #EEE;
  padding: 20px;
  margin-top: 20px;
  transition: .2s ease opacity;
}

.hidden {
  opacity: 0;
}
