body {
  margin: 20px 100px 0px 200px;
  h2 {
    border-bottom: 2px solid $light-gray;
    text-transform: uppercase;
  }
}


.intro {
  margin-bottom: 60px;
}

.intro p {
  color: $gray;
  font-weight: 300;
}

.code {
  color: #EEE;
  background: #444;
  font-family: monospace;
  padding: 8px;
  border-radius: 5px;
}

.code:hover {
  color: #FFF;
  background: #111;
  cursor: pointer;
}

.code-snippet {
  font-family: monospace;
  background: #444;
  color: #EEE;
  padding: 20px;
  margin-top: 20px;
  transition: .2s ease opacity;
}

.hidden {
  opacity: 0;
}

.commit {
  margin-bottom: 1rem;
  display: flex;
  border: 3px solid #EEE;
  padding: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
}

.commit > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*outline: 1px solid pink;*/
  height: 50px;
}

.commit .avatar {
  margin-right: 1rem;
}
.commit .avatar img {
  border-radius: 50%;
}
.message {
  margin-left: 1rem;
}

.commit-list {
  margin-bottom: 4rem;
}

.committer {
  padding-right: 1rem;
  border-right: 3px solid #EEE;
}

.message a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #e98d03;
}
.message a:hover {
  border-bottom: 3px solid #ffa500;
  color: #ffa500;
}

.color-swatch {
  width: 150px;
  .swatch {
    width: 150px;
    height: 150px;
    background: gray;

    &.brand-colour-black { background: $brand-colour-black; }
    &.brand-colour-yellow { background: $brand-colour-yellow; }
    &.brand-colour-white { background: $brand-colour-white; }
    &.brand-colour-blue { background: $brand-colour-blue; }
    &.brand-colour-red { background: $brand-colour-red; }
    &.brand-colour-green { background: $brand-colour-green; }
    &.brand-primary-colour { background: $brand-primary-colour; }
    &.brand-secondary-colour { background: $brand-secondary-colour; }
    &.brand-colour-header { background: $brand-colour-header; }
    &.danger-colour {}

    &.button-info-colour { background: $button-info-colour; }
    &.button-success-colour { background: $button-success-colour; }
    &.button-danger-colour { background: $button-danger-colour; }
    &.button-warning-colour { background: $button-warning-colour; }
    &.nav-list-item-primary-colour { background: $nav-list-item-primary-colour; }
    &.nav-list-item-secondary-colour { background: $nav-list-item-secondary-colour; }
    &.nav-list-item-hover-colour { background: $nav-list-item-hover-colour; }
    &.nav-list-item-active-colour { background: $nav-list-item-active-colour; }
    &.nav-toggle-icon-colour { background: $nav-toggle-icon-colour; }

    &.gray { background: $gray; }
    &.light-gray { background: $light-gray; }

  }
  .color-name {
    margin: 5px 0 0 0;

    color: #EEE;
    background: #444;
    font-family: monospace;
    padding: 8px;
    min-height: 2rem;
  }
  .color-name:before {
    content: "$"
  }
}

.colors {
  .color-swatches {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin: 0 5px 5px 0;
    }
  }
}
