body {
  margin: 20px 100px 0px 200px;
  h2 {
    border-bottom: 2px solid $light-gray;
    text-transform: uppercase;
  }
}


.intro {
  margin-bottom: 60px;
}

.intro p {
  color: $gray;
  font-weight: 300;
}

.code {
  color: #EEE;
  background: #444;
  font-family: monospace;
  padding: 8px;
  border-radius: 5px;
}

.code:hover {
  color: #FFF;
  background: #111;
  cursor: pointer;
}

.code-snippet {
  font-family: monospace;
  background: #444;
  color: #EEE;
  padding: 20px;
  margin-top: 20px;
  transition: .2s ease opacity;
}

.hidden {
  opacity: 0;
}

.commit {
  margin-bottom: 1rem;
  display: flex;
  border: 3px solid #EEE;
  padding: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
}

.commit > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*outline: 1px solid pink;*/
  height: 50px;
}

.commit .avatar {
  margin-right: 1rem;
}
.commit .avatar img {
  border-radius: 50%;
}
.message {
  margin-left: 1rem;
}

.commit-list {
  margin-bottom: 4rem;
}

.committer {
  padding-right: 1rem;
  border-right: 3px solid #EEE;
}

.message a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: #e98d03;
}
.message a:hover {
  border-bottom: 3px solid #ffa500;
  color: #ffa500;
}

.color-swatch {
  .swatch {
    width: 200px;
    height: 200px;
    background: gray;
    &.brand-colour-red { background: $brand-colour-red; }
  }
  .color-name:before {
    content: "$"
  }
}
